
/* vista donde se ven un conjunto de productos*/
.productos1{
  margin:20px;

}

#productos1Zoom{
  width:216px
}


/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 50%;
}

.carousel-item p{
  color:black;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: grey;
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: ""
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: ""
}

.carousel-indicators .active {
  background-color: black;
}

.collapseWhite a{
  color:white;
}

#filtro{
  margin-top: 15px;
}

#crearProducto{
  align-text:center;
  align-items: center;

}

.carroussel_img{
  height: 400px;
}

#OfertaCarrusel{
  position: absolute;
  top: 190px;
  right: 186px;

}

#NombreArtCarrusel{
  position: absolute;
  top: 143px;
  right: 131px;

}

#carouselPromociones{
  margin-bottom: 50px;
}

 /*Hacer que el botón de perfil sea desplegable con hover  */
  .dropdown-hover:hover>.dropdown-menu {
  display: block;
}
.dropdown-hover {
width: 135px;
}


/* Carro flotante */
#carroFloat {
  position: fixed;
  top:53px;
  right:0px;
  background-color: white;
  z-index: 1;

  width: 400px;
}

.img_cesta{
  width: 200px;
}

/*Galeria*/

.galeriaEspacio {
    margin-top: 15px;
    margin-bottom: 15px;
}

.galeriaEspacio img{
  width: 100%;
}
/*fin galeria*/

/*Styles*/

#botonCrearCategoria{
    margin-bottom: 400px;
}

#logoGMS{
  margin-left:25px;
  margin-top: 5px;
}

#logoGMS img{
  width:200px;
}

#logoCarrito img{
  width:50px;
}

#modalHome{
  width:100%;
}

.stock0{
  color:red;
}

.stockPoco{
  color:orange;
}

.stockMucho{
  color:green;
}

.SlidesW100{
  width:100%;
}

#nCategoria{
margin-right: 55px;
}


#nMarca{
margin-right: 79px;
}

#nPrecio{
margin-right: 79px;
}

#nStock{
margin-right: 84px;
}

#nNombre{
margin-right: 67px;
}

#nEnviar{
margin-bottom: 400px;
}

#ABuscador{
  margin-top: 16px;
}

#ALogin{
  margin-top: 10px;
}

#ACarro{
  margin-top: 10px;
}
