
/* vista donde se ven un conjunto de productos*/
.productos1{
  margin:20px;
}

.productos{
  padding-left: 10%;
  padding-right: 10%;
}

#crearProducto{
  align-text:center;
  align-items: center;

}

.carroussel_img{
  height: 400px;
}

#OfertaCarrusel{
  position: absolute;
  top: 190px;
  right: 186px;

}

#NombreArtCarrusel{
  position: absolute;
  top: 143px;
  right: 131px;

}

#carouselPromociones{
  margin-bottom: 50px;
}

 /*Hacer que el botón de perfil sea desplegable con hover  */
  .dropdown-hover:hover>.dropdown-menu {
  display: block;
}
.dropdown-hover {
width: 80px;
}
