<!--  inicio hedarer view-->
<!DOCTYPE html>
<html lang="es">
<head>
  <title>GMS Informática</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="estilos.css">
</head>

<body class="bg-dark" >

<header>
  <div class="container-fluid ">

    <!-- Menu superior -->
    <div class=" row align-items-start bg-light text-dark">
<div class="col-12 col-sm-12 col-md-12 row">
      <div class="col-1 col-sm-1 col-md-1 " >
        <!-- Brand/logo -->
        <a class="navbar-brand" href="http://localhost/ejercicios1/trabajo%20trimesral/">
          <img src="Imagenes/Web/desktop-computer.svg" alt="logo" style="width:50px;">
        </a>
      </div>

      <div class="col-3 col-sm-3 col-md-3 " >
        <h1>GMS informática</h1>
      </div>

      <div class="col-3 col-sm-3 col-md-3  " >
        <form class="form-inline" action="/action_page.php">
          <input class="form-control" type="text" placeholder="Buscar...">
          <button class="btn btn-info" type="submit">Buscar</button>
        </form>
      </div>

      <div class="col-2 col-sm-2 col-md-2 " >

 <a type="button" class="btn btn-info btn-lg" href="index.php?controller=usuarios&action=add">Entra o regístrate</a>

      </div>

      <div class="col-2 col-sm-2 col-md-2 " >
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
          <img src="Imagenes/Web/carrito.png" alt="logo" style="width:50px;">
        </a>
        <span class="badge badge-light">4</span>

      </div>

    </div>
  </div>




    <!-- Menu categorias -->
    <div>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Categorias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Componentes
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="index.php?controller=productos&action=verProcesadores">Procesadores</a>
                <a class="dropdown-item" href="index.php?controller=productos&action=verGraficas">Gráficas</a>
                <a class="dropdown-item" href="index.php?controller=productos&action=verRam">Memorias Ram</a>
                <a class="dropdown-item" href="index.php?controller=productos&action=verPBase">Placas Base</a>

              </div>

              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Perifericos
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="index.php?controller=productos&action=view">Monitores</a>
                  <a class="dropdown-item" href="index.php?controller=productos&action=verTeclados">Teclados</a>
                  <a class="dropdown-item" href="index.php?controller=productos&action=verRatones">Ratones</a>
                </div>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Ordenadores
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="index.php?controller=productos&action=verPortatiles">Portatiles</a>
                    <a class="dropdown-item" href="index.php?controller=productos&action=verPCSobremesa">PC Sobremesa</a>

                  </div>

                </ul>
              </div>
            </nav>
          </div> <!--Fin Menu categorias  ok-->

</div> <!-- fin del container fluid  -->
  </header><!-- header ok-->

    <div class="contenido">
      <div class="container-fluid ">


<!-- fin header_view -->

<!-- inicio contenido -->
<!-- fin contenido -->

<!-- inicio footer_view -->

      </div> <!-- fin del container fluid  -->
    </div> <!-- fin del contenido -->

        <footer class="bg-dark">
    <p class="text-white">Echo por: Gabriel Mas Simon</p>
    <p class="text-white">Información de contacto: <a href="mailto:g.mas.simon@gmail.com">g.mas.simon@gmail.com</a>.</p>
  </footer>



  </body>
  </html>

<!-- fin footer_view -->
